:root {
  --Green: #44ffa1;
  --Purple-900: #24053e;
  --Purple-500: #584d62;
  --Purple-100: #fcf8ff;
  --White: #fff;
  --Text-1: 600 80px/80px 'Fraunces', sans-serif;
  --Text-2: 600 56px/120% 'Fraunces', sans-serif;
  --Text-3: 600 32px/120% 'Fraunces', sans-serif;
  --Text-4: 400 18px/180% 'Manrope Regular', sans-serif;
  --Text-5: 700 18px/150% 'Manrope Regular', sans-serif;
  --Spacing-296: 296px;
  --Spacing-168: 168px;
  --Spacing-144: 144px;
  --Spacing-128: 128px;
  --Spacing-112: 112px;
  --Spacing-88: 88px;
  --Spacing-80: 80px;
  --Spacing-64: 64px;
  --Spacing-56: 56px;
  --Spacing-44: 44px;
  --Spacing-40: 40px;
  --Spacing-32: 32px;
  --Spacing-28: 28px;
  --Spacing-20: 20px;
  --Spacing-16: 16px;
  --Spacing-12: 12px;
  --Spacing-8: 8px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
